<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.chriscartland.marauder">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature
            android:name="android.hardware.bluetooth_le"
            android:required="true"/>

    <uses-feature
            android:name="android.hardware.nfc"
            android:required="true" />

    <application
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_descriptor"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity
                android:name=".LaunchUrlActivity"
                android:screenOrientation="portrait"
                android:launchMode="singleTask">

            <tools:validation testUrl="https://marauder-129.web.app/?wid=wand_id123"/>
            <tools:validation testUrl="https://marauder-129.web.app/"/>
            <tools:validation testUrl="https://marauder-129.web.app"/>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                        android:scheme="https"
                        android:host="marauder-129.web.app"
                />
                <data
                        android:scheme="marauder"
                        android:host="marauder-129.web.app"
                />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TileBleScannerActivity">
        </activity>
    </application>
</manifest>